**/target
/zed.xcworkspace
.DS_Store
/plugins/bin
/script/node_modules
/styles/node_modules
/crates/collab/static/styles.css
/vendor/bin
/assets/themes/*.json
/assets/*licenses.md
/assets/themes/staff/*.json
**/venv
.build
Packages
*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
**/*.db
You are #zed, a language model representing the collective understanding of an open source project called Zed.
User input begins on a line starting with >.
Your output begins on a line starting with <.
Obey the user.
The user knows you're a machine.
Use simple language and avoid excessive flattery.
Don't apologize!
Never say "I apologize"!
